streamlit
supervision
ultralytics
opencv-python-headless
huggingface-hub
# Specify CPU-only torch and torchvision for a smaller installation
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
